:root {
  --color-dot-red: #ff5f57;
  --color-dot-yellow: #febc2e;
  --color-dot-green: #28c840;
}

body {
  padding: 0 10px 0 10px;
}

/*  image */
.window-body img {
  width: 100%;
  height: auto;
  display: block;
}

/* shiki style */
.code-wrapper {
  position: relative;
  margin: 16px 0;
  border-radius: 8px;
  overflow: hidden;
}

.copy-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(240, 248, 255, 0.518);
  border-radius: 6px;
  padding: 4px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 4px;
}

.copy-btn:hover {
  background: #91919162;
}

.code-wrapper pre {
  margin: 0;
  padding: 16px;
  padding-right: 72px;

  overflow-x: auto;
  white-space: pre;
}

/* Card */
.card-content {
  background-color: #c2e6c7;
  border-top: 1px solid var(--color-border);
}

.window-bar {
  background: #21262d;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.red {
  background: var(--color-dot-red);
}
.dot.yellow {
  background: var(--color-dot-yellow);
}
.dot.green {
  background: var(--color-dot-green);
}
